/* Global Rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* ==================================================
                  Start head 
 =================================================== */
.up-page {
  background-color: #f5f5f5;
}

.landing {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

@media (max-width: 767px) {
  .landing {
    flex-direction: column;
    align-items: center;
  }
}

.head-area {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
}
.head-area ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.head-area ul li {
  transition: 0.2s;
  padding: 15px;
  cursor: pointer;
}
.head-area ul a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.head-area ul li:hover {
  background-color: #f5f5f5;
  border-bottom: 2px solid #eac84c;
}

@media (max-width: 767px) {
  .head-area ul {
    flex-direction: column;
  }
  .head-area ul li {
    width: 100%;
    text-align: center;
  }
}

/* ==================================================
                  End head 
 =================================================== */

/* ==================================================
                  Start sectioins 
 =================================================== */
/* .sectiones {
  display: grid;
} */
.sectiones .up-h2 {
  height: 50px;
}
.sectiones h2 {
  padding-left: 25px;
}
.sectiones .parent-1 {
  display: grid;
  background-color: #f5f5f5;
}
.sectiones .parent-1 .chiled {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 20%;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
}
.sectiones .parent-1 .chiled .image {
  width: 100%;
}
.sectiones .parent-1 .chiled img {
  width: 100%;
}
.sectiones .parent-1 .chiled .information {
  width: 100%;
  text-align: center;
}
.sectiones .parent-1 .chiled .information h4 {
  margin: 10px 0;
}
.sectiones .parent-1 .chiled .information p {
  margin: 10px 0;
}
.sectiones .parent-1 .chiled .information .btn {
  display: flex;
  justify-content: center;
}
.sectiones .parent-1 .chiled .information .btn button {
  background-color: #eac84c;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
/* ==================================================
                  End sectioins 
 =================================================== */
@media (max-width: 767px) {
  .sectiones .parent-1 {
    width: 100%;
  }
  .sectiones .parent-1 .chiled {
    width: 100%;
  }
}

/* ==================================================
                  Start nav bar 
 =================================================== */

.nav {
  text-align: center;
  position: sticky;
  top: 60px;
  right: 0px;
  height: 85vh;
  width: 28%;
  border-radius: 5px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.185);
  margin: 0 5px;
}
.nav .hed-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px;
  justify-content: center;
  border: 0.5px solid rgba(0, 0, 0, 0.185);
  padding: 0 15px;
}
.nav .hed-nav h3 {
  font-weight: 500;
}
.nav .hed-nav a {
  font-size: 18px;
  font-weight: 500;
  color: #eac84c;
  cursor: pointer;
}
.land-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.fa-clipboard {
  font-weight: 400;
  font-size: 50px;
}
.land-nav h3 {
  font-weight: 500;
}
.land-nav p {
  letter-spacing: 0.1px;
}
.nav button {
  background-color: #eac84c;
  border: none;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
/* ==================================================
                  End nav bar 
 =================================================== */